/* Global Styles */
body {
    background-image: url("https://images.pexels.com/photos/323780/pexels-photo-323780.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register_page {
    width: 360px;
    margin: auto;
}

.form {
    background: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease;
}

.form input,
.form select {
    outline: none;
    background: #f2f2f2;
    width: 100%;
    border: 1px solid #ccc;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 5px;
    animation: fadeIn 1s ease;
}

.form input:focus,
.form select:focus {
    border-color: cornflowerblue;
}

.submit {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    background-color: cornflowerblue;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit:hover {
    background-color: dodgerblue;
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
