<!DOCTYPE html>
<html>
<head>
<title>Hackathon</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
</style>
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="#home" class="w3-bar-item w3-button">Hackathon</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="index.html" class="w3-bar-item w3-button">Home</a>
    </div>
  </div>
</div>

<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="../images/left_image.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">Hackathon</h1><br>
      <h5 class="w3-center" style="color:red">House Price Regression</h5>
      <p class="w3-large"><b>Problem Definition:</b><br>
        This dataset contains House pricing attributes and features which helps to determine Sale Price of the House.<br>
        <b>File descriptions:</b><br>
        ● train.csv - the training set<br>
        ● test.csv - the test set — Predict Sale Price in this set<br>
        ● data_description.txt - full description of each column,</p>
    </div>
  </div>
  
  <hr>
  
  <!-- Menu Section -->
  <div class="w3-row w3-padding-64" id="menu">
    <div class="w3-col 8 w3-padding-large">
      <h1 class="w3-center">Our Visualized data</h1><br>
      <h4><b>Sales Price</b></h4>
       <img src="../images/saleprice.png"><br>
    
       <h4><b>Representation of Sales Price, Year Sold</b></h4>
       <img src="../images/saleprice_to_yrsold.png"><br>
    
       <h4><b>Representation of Sales Price, Year Built</b></h4>
       <img src="../images/saleprice_to_yearbuilt.png"><br>

       <h4><b>Representation of Sales Price, BSMTSF</b></h4>
       <img src="../images/saleprice_to_totalbsmtsf.png"><br>

       <h4><b>Representation of Sales Price, Grlivarea</b></h4>
       <img src="../images/saleprice_to_grlivarea.png"><br>

       <h4><b>Representation of Sales Price, Garage Year Built</b></h4>
       <img src="../images/saleprice_to_garageyrblt.png"><br>

       <h4><b>Over All Quality</b></h4>
       <img src="../images/overallqual.png"><br>

       <h4><b>House Price Regression</b></h4>
       <img src="../images/house_price_regression.png">
    </div>
  </div>

  <hr>

   
<!-- End page content -->
</div>

</body>
</html>
